
@import url('https://fonts.googleapis.com/css?family=Lato:400,700');


body {
    overflow-x: hidden;
    font-family: 'Lato', sans-serif;
    color: #505962;
}

/* Navigation */

.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .1rem;
    background: rgba(0, 0, 0, 0.6)!important;
}
.navbar-brand img {
    height: 2rem;
}
.navbar-nav li {
    padding-right: .7rem;
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
    padding-top: .8rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
    color: #1ebba3;
}

/* Landing Page */
.home-inner {
    background-image: url("Olympic.jpg");
    height: 600px;
    background-size: 100% 100%;
    background-position: center;
}
.caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 15%;
    z-index: 1;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}
.caption h1 {
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: 1rem;
}
.caption h3 {
    font-size: 2rem;
    text-shadow: .1rem .1rem .5rem black;
    padding-bottom: 1.6rem;
}
.btn1 {
    border-width: small;
    border-radius: 30px;
    padding: .6rem 30px;
    margin-right: -40px;
}
.btn2 {
    border-width: small;
    border-radius: 30px;
    padding: .6rem 30px;
    margin-left: 80px;
}
.Home {
    border-radius: 50%;
    border-width: medium;
    position: relative;
    top: -50px;
}
.fab {
    font-size: 50px;
    color: rgb(247, 241, 241);
}
.bio {
    font-size: 16px;
}
.tldr {
    /* margin: 1.5rem auto; */
    padding-top: 1rem;
}
.contact {
    padding-top: 1rem;
}
.fa-github-square {
    position: relative;
    bottom: -30px;
    padding-right: 2rem;
    left: 10px;
}
.fa-github-square:hover{
    color: #007bb6;
}
.fa-linkedin {
    position: relative;
    bottom: -30px;
    padding-left: 0rem;
    right: -40px;
}
.skills h3 {
    margin-left: 40px;
}
.Portref {
    font-size: 2rem;
}